<!doctype html>
<html>

    <head>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/render_text.css') }}>
        <title>ML Projects</title>
    </head>

    <body>
    	<div class="header">
		  <h1>Machine Learning Projects</h1>
		  <h3>by Daniel Azevedo</h3>
		</div>

        <div id='main'>
            <div id='left_div'>
                <h3>Original Encoded Text</h3>
                
                {{old_text}}
            </div>

            <div id='right_div'>
                <h3>Text Decrypted</h3>

                {{forward_message}}
            </div>    

        </div>
        <div id="submit_btns">

            <form style="float: left;" method="POST" action="/redirect_cipher_form">
                <input id="form_submit" type="submit" value="Try Again">
            </form>

            <form style="float: right;" method="GET" action="/">
                <input id="form_submit" type="submit" value="Return Home">
            </form>

            </div>
        
    </body>
</html>