<!doctype html>
<html>

    <head>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/cipher.css') }}>
        <title>ML Projects</title>
    </head>

    <body>
    	<div class="header">
		  <h1>Machine Learning Projects</h1>
		  <h3>by Daniel Azevedo</h3>
		</div>

        <div id="cypher_input">
            <h2>Random Substitution Cypher</h2>
        </div>

        <div id='main_form'>
        <form id="form_area" method="POST" action="/art_spinner">
             <input name="text" type="text" id="form_input" placeholder="Type you text here...">

             <input id="form_submit" type="submit">
        </form>
        </div>
    </body>
</html>